---
interface Props {
	data: Array<{
		title: string,
		cards: Array<{
			icon: string,
			title: string,
			description: string,
			link: string
		}>
	}>;
}

import CardBaseClickable from '@aziontech/webkit/cardbaseclickable';
import CardTitle from '@aziontech/webkit/cardtitle';
import CardDescription from '@aziontech/webkit/carddescription';

const { data } = Astro.props;
---
<div class="mt-8">
{
	data.map((item) =>(
		<h2>
			{item.title}
		</h2>
		<div class="flex flex-wrap flex-[49%] gap-3 my-8">
			{
				item.cards.map((card) => (
					<CardBaseClickable
						class="w-[49%]"
						spacing="base"
						link={card.link}
						title={card.title}
					>
						<Fragment slot="content">
							<CardTitle titleTag="h3" class="m-0">
								{card.title}
							</CardTitle>
							<CardDescription>
								{card.description}
							</CardDescription>
						</Fragment>
					</CardBaseClickable>
				))
			}
		</div>
	))
}
</div>
	