---
interface Props {
	data: Array<{
		title: string,
		cards: Array<{
			icon: string,
			title: string,
			description: string,
			link: string
		}>
	}>;
}

import CardBaseClickable from '../../../node_modules/@aziontech/azion-web-kit/src/templates/card/base-clickable.vue';
import CardTitle from '../../../node_modules/@aziontech/azion-web-kit/src/fragments/text/card-title.vue';
import CardDescription from '../../../node_modules/@aziontech/azion-web-kit/src/fragments/text/card-description.vue';
import ReadableContent from '../../../node_modules/@aziontech/azion-web-kit/src/templates/post/readable-content/index.vue';

const { data } = Astro.props;
---
<div class="mt-8">
{
	data.map((item) =>(
		<ReadableContent>
			<h2>
				{item.title}
			</h2>
		</ReadableContent>
		<div class="flex flex-wrap flex-[49%] gap-3 my-8">
			{
				item.cards.map((card) => (
					<CardBaseClickable
						class="w-[49%]"
						spacing="base"
						link={card.link}
						title={card.title}
					>
						<Fragment slot="content">
							<CardTitle titleTag="h3">
							 {card.title}
							</CardTitle>
							<CardDescription>
								{card.description}
							</CardDescription>
						</Fragment>
					</CardBaseClickable>
				))
			}
		</div>
	))
}
</div>
	