---
import ContributeMenu from './ContributeMenu.astro';
import { useTranslations } from '~/i18n/util';

import TableOfContents from "@aziontech/webkit/tableofcontents";
import Community from "@aziontech/webkit/community";

const t = useTranslations(Astro);
const i18n = {
	initialHeadingTitle: t('rightSidebar.overview'),
	title: t('rightSidebar.onThisPage')
};

const { content, headings, githubEditUrl } = Astro.props;
---

<nav
	class="flex flex-col gap-8 py-2"
	aria-label={t('rightSidebar.a11yTitle')}>
	{
		headings && (
			<TableOfContents
				client:idle
				initialHeadingTitle={i18n.initialHeadingTitle}
				title={i18n.title}
				headings={headings}
			/>
		)
	}

	<div>
		<ContributeMenu
			i18nReady={content.i18nReady}
			editHref={githubEditUrl}
		/>
	</div>

	<Community />
</nav>
