---
import FallbackNotice from '../FallbackNotice.astro';

import AuthorList from '~/components/AuthorList.astro';

import Breadcrumb from 'azion-webkit/breadcrumb';
import ReadableContent from 'azion-webkit/readablecontent';
import ArticleNavigation from 'azion-webkit/articlenavigation';
import AskAISplitButton from 'azion-webkit/components/AskAISplitButton';

import { rtlLanguages } from '~/i18n/languages';
import { normalizeLangTag } from '~/i18n/bcp-normalize';
import { useTranslations } from '~/i18n/util';

import { getLanguageFromURL } from '~/util';
import { getPageBreadcrumb } from '~/util/getBreadcrumb';


export interface Props {
	content: { title: string };
	fileToGetContributors: string;
	previous?: { text: string; link: string };
	next?: { text: string; link: string };
}

const {content, fileToGetContributors, previous, next} = Astro.props;
const lang = getLanguageFromURL(Astro.url.pathname);
const isFallback = !!Astro.params.fallback || undefined;

const title = content.title
const bcpLang = normalizeLangTag(lang);
const direction = rtlLanguages.has(lang) ? 'rtl' : 'ltr';
const breadcrumbs = (await getPageBreadcrumb(Astro, lang));
const t = useTranslations(Astro);
---


<div dir={isFallback ? 'ltr' : direction} lang={isFallback && 'en'}>
	<!-- {
		// For best cross-browser support of sticky or fixed elements, they must not be nested
		// inside elements that hide any overflow axis. The article hides `overflow-x`,
		// so we must place fixed UI elements like the mobile TOC here.
		Astro.slots.has('before-article') && (
			<>
				<div class="fixed-mobile-bar" dir={direction}>
					<slot name="before-article" />
				</div>
				<div class="spacer" />
			</>
		)
	} -->
	<article>
		<section class="px-container">
			<header>
				<div class="mb-8 mt-2">
					<div class="flex flex-col-reverse md:flex-row md:items-center md:justify-between gap-4 md:gap-0">
						<Breadcrumb data={breadcrumbs} />
						<AskAISplitButton lang={lang} client:load />
					  </div>
				</div>
				
				<h1 id="overview" set:html={title} />
			</header>
			<ReadableContent>
				{
					isFallback && (
						<div lang={bcpLang} dir={direction}>
							<FallbackNotice />
						</div>
					)
				}
			
				<slot />
				
				<hr />
			</ReadableContent>
		</section>

		<!--
		<div class="px-container pb-8">
			<div class="flex flex-col gap-6">
				<p class="text-base text-lg">
					<strong class="font-medium">
						{
							t('contributors.title')
						}
					</strong>
				</p>	
				<AuthorList filePath={fileToGetContributors} />
			</div>
		</div>
		-->
	
		{
			(previous || next) && (
				<aside class="px-container pt-2">
					<ArticleNavigation
						cards={{
							prev: previous,
							next: next,
						}}
						overline={
							{ 
								prev: t('articleNav.prevPage'),
								next: t('articleNav.nextPage')
							}
						}
					/>
				</aside>
			)
		}
	</article>
</div>
