---
import FallbackNotice from '../FallbackNotice.astro';
import ArticleNavigationButton from './ArticleNavigationButton.astro';

import Breadcrumb from '@aziontech/webkit/breadcrumb';
import ReadableContent from '@aziontech/webkit/readablecontent';

import { rtlLanguages } from '~/i18n/languages';
import { normalizeLangTag } from '~/i18n/bcp-normalize';

import { getLanguageFromURL } from '~/util';
import { getPageBreadcrumb } from '~/util/getBreadcrumb';

export interface Props {
	content: { title: string };
	previous?: { text: string; link: string };
	next?: { text: string; link: string };
}

const {content, previous, next} = Astro.props;
const lang = getLanguageFromURL(Astro.url.pathname);
const isFallback = !!Astro.params.fallback || undefined;

const title = content.title
const bcpLang = normalizeLangTag(lang);
const direction = rtlLanguages.has(lang) ? 'rtl' : 'ltr';
const breadcrumbs = (await getPageBreadcrumb(Astro, lang));
---


<div dir={isFallback ? 'ltr' : direction} lang={isFallback && 'en'}>
	<!-- {
		// For best cross-browser support of sticky or fixed elements, they must not be nested
		// inside elements that hide any overflow axis. The article hides `overflow-x`,
		// so we must place fixed UI elements like the mobile TOC here.
		Astro.slots.has('before-article') && (
			<>
				<div class="fixed-mobile-bar" dir={direction}>
					<slot name="before-article" />
				</div>
				<div class="spacer" />
			</>
		)
	} -->
	<article>
		<section class="px-container">
			<ReadableContent>
				<header>
					<div class="mb-8 mt-2">
						<Breadcrumb data={breadcrumbs} />
					</div>
					
					<h1 id="overview" set:html={title} />
				</header>
				
				{
					isFallback && (
						<div lang={bcpLang} dir={direction}>
							<FallbackNotice />
						</div>
					)
				}
			
				<slot />
			
			</ReadableContent>
		</section>
	
		{
			(previous || next) && (
				<aside class="px-container next-previous-nav justify-between flex-col sm:flex-row flex gap-3 lg:gap-6 py-12">
					{previous && <ArticleNavigationButton rel="prev" item={previous} />}
					{next && <ArticleNavigationButton rel="next" item={next} />}
				</aside>
			)
		}
	</article>
</div>
