---
import UIString from '../UIString.astro';
import { getFooterTranslations } from '~/i18n/util';
import { getTranslatedPagesByNamespace } from '~/util/getPageTranslations';

interface TranslatedProps {
	slug: string;
	lang: string;
}
interface Props {
  translatedPages: TranslatedProps[] | undefined;
}

const { translatedPages } = Astro.props;

const { data } = getFooterTranslations(Astro);
---

<footer>
  <div class="content-wrapper">
    <div class="menu-wrapper">
      <div>
        <a href="https://www.azion.com/" title="Azion Technologies" class="azion-technologies">
          <svg
            width="200"
            height="26"
            viewBox="0 0 200 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M82.6974 22.1124H60.7573L64.9765 0.00744629H86.9166L82.6974 22.1124ZM65.776 17.936H79.2628L81.8906 4.18382H68.4038L65.776 17.936Z"
              fill="#F3652B"></path>
            <path
              d="M56.538 22.1124H52.3187L56.538 0.00744629H60.7572L56.538 22.1124Z"
              fill="#F3652B"></path>
            <path
              d="M0.614382 18.8683L0 22.1124H3.21255L20.5041 7.51002L17.7209 22.1124H21.9401L26.1594 0H22.9394L0.614382 18.8683Z"
              fill="#F3652B"></path>
            <path
              d="M93.7711 0.00744629H91.1359L86.9167 22.1124H91.1359L94.0302 6.95813L106.222 22.1124H108.857L109.375 19.4052L93.7711 0.00744629ZM108.857 0.00744629L106.984 9.81447L110.389 14.0654L113.076 0.00744629C113.076 0.00744629 108.857 0.00744629 108.857 0.00744629Z"
              fill="#F3652B"></path>
            <path
              d="M52.3187 0.00744629H30.3786L29.5792 4.18382H44.1541L26.7811 18.8533L26.1594 22.1124H48.0995L48.8989 17.936H34.324L51.6969 3.25905L52.3187 0.00744629Z"
              fill="#F3652B"></path>
            <path
              d="M120.071 20.3898C120.071 20.9044 120.352 21.1654 120.908 21.1654L122.114 21.076L122.055 21.7919C121.529 21.9112 121.048 21.9783 120.597 21.9783C120.145 21.9783 119.79 21.859 119.523 21.6129C119.257 21.3668 119.124 21.0461 119.124 20.6359C119.124 20.2332 119.212 19.6813 119.383 18.9878L120.308 15.0128H119.279L119.479 14.2073H120.508L121.07 11.873H121.981L121.403 14.2073H123.654L123.454 15.0128H121.218L120.278 19.04C120.138 19.5993 120.071 20.0542 120.071 20.3898Z"
              fill="white"></path>
            <path
              d="M124.409 19.6733C124.409 20.1283 124.549 20.4937 124.823 20.7547C125.105 21.0158 125.438 21.15 125.845 21.15C126.622 21.15 127.362 21.0605 128.066 20.8741L128.428 20.7696L128.369 21.5154C127.488 21.8212 126.652 21.9704 125.86 21.9704C124.276 21.9704 123.484 21.2171 123.484 19.7106C123.484 18.3309 123.809 17.0631 124.468 15.9146C124.779 15.3553 125.201 14.9078 125.741 14.5647C126.274 14.2291 126.881 14.0576 127.555 14.0576C128.976 14.0576 129.687 14.6393 129.687 15.7953C129.687 16.6902 129.346 17.3167 128.658 17.6747C127.969 18.0326 126.903 18.2265 125.438 18.2265H124.586C124.468 18.7337 124.409 19.2184 124.409 19.6733ZM125.623 17.4808C126.733 17.4808 127.54 17.3614 128.036 17.1228C128.532 16.8841 128.784 16.4441 128.784 15.8027C128.784 15.1614 128.362 14.8407 127.51 14.8407C126.193 14.8407 125.26 15.7207 124.727 17.4808H125.623Z"
              fill="white"></path>
            <path
              d="M135.971 14.2292L136.23 14.2889L136.001 15.0197C135.379 14.9079 134.838 14.8482 134.394 14.8482C133.728 14.8482 133.166 15.0868 132.699 15.5641C131.811 16.4591 131.367 17.794 131.367 19.5765C131.367 20.106 131.5 20.5012 131.759 20.7622C132.026 21.0233 132.448 21.1575 133.032 21.1575C133.388 21.1575 133.861 21.0978 134.454 20.9785L134.742 20.9189L134.698 21.6497C134.009 21.866 133.365 21.9704 132.758 21.9704C131.219 21.9704 130.442 21.2246 130.442 19.7256C130.442 18.1893 130.76 16.8842 131.396 15.7953C131.715 15.2584 132.144 14.8333 132.662 14.5126C133.18 14.1994 133.728 14.0428 134.305 14.0428C134.883 14.0502 135.431 14.1099 135.971 14.2292Z"
              fill="white"></path>
            <path
              d="M141.071 14.0503C141.634 14.0503 142.07 14.2219 142.374 14.55C142.677 14.8856 142.825 15.3182 142.825 15.8402C142.825 16.3623 142.722 17.0708 142.522 17.9508L141.626 21.8214H140.731L141.626 17.9806C141.811 17.1975 141.9 16.5636 141.9 16.0714C141.9 15.2734 141.53 14.8707 140.782 14.8707C140.449 14.8707 140.072 15.0273 139.65 15.348C139.228 15.6687 138.88 15.9894 138.621 16.3026L138.229 16.7874L137.081 21.8214H136.171L138.695 10.8137H139.598L138.48 15.6911C138.991 14.9975 139.591 14.5127 140.264 14.2293C140.546 14.11 140.812 14.0503 141.071 14.0503Z"
              fill="white"></path>
            <path
              d="M148.54 14.0507C149.117 14.0507 149.554 14.2222 149.857 14.5504C150.161 14.886 150.309 15.3185 150.309 15.848C150.309 16.3775 150.205 17.0636 150.006 17.9213L149.095 21.8217H148.199L149.095 17.981C149.288 17.1606 149.384 16.5267 149.384 16.0718C149.384 15.2738 149.006 14.871 148.251 14.871C147.918 14.871 147.541 15.0277 147.119 15.3409C146.697 15.6541 146.349 15.9748 146.09 16.3029L145.712 16.7728L144.55 21.8217H143.64L145.394 14.1998H146.275L145.957 15.6765C146.46 14.9978 147.059 14.5131 147.755 14.2297C148.022 14.1104 148.288 14.0507 148.54 14.0507Z"
              fill="white"></path>
            <path
              d="M155.306 14.0656C157.001 14.0656 157.845 14.9083 157.845 16.5788C157.845 18.0779 157.489 19.3531 156.779 20.4047C156.068 21.4488 155.135 21.9783 153.988 21.9783C152.337 21.9783 151.508 21.1728 151.508 19.5694C151.508 18.0555 151.871 16.7578 152.589 15.6839C153.307 14.6025 154.21 14.0656 155.306 14.0656ZM153.988 21.1654C154.854 21.1654 155.565 20.7179 156.105 19.8155C156.653 18.9131 156.919 17.8317 156.919 16.5639C156.919 16.0493 156.786 15.6317 156.512 15.3185C156.238 15.0127 155.839 14.8561 155.306 14.8561C154.469 14.8561 153.773 15.3259 153.233 16.2581C152.685 17.1904 152.419 18.2941 152.419 19.5694C152.411 20.6359 152.937 21.1654 153.988 21.1654Z"
              fill="white"></path>
            <path d="M158.674 21.8214L161.198 10.8137H162.093L159.569 21.8214H158.674Z" fill="white"
            ></path>
            <path
              d="M165.905 14.0656C167.601 14.0656 168.444 14.9083 168.444 16.5788C168.444 18.0779 168.089 19.3531 167.379 20.4047C166.668 21.4488 165.735 21.9783 164.588 21.9783C162.937 21.9783 162.108 21.1728 162.108 19.5694C162.108 18.0555 162.471 16.7578 163.189 15.6839C163.914 14.6025 164.817 14.0656 165.905 14.0656ZM164.588 21.1654C165.454 21.1654 166.165 20.7179 166.705 19.8155C167.253 18.9131 167.519 17.8317 167.519 16.5639C167.519 16.0493 167.386 15.6317 167.112 15.3185C166.838 15.0127 166.438 14.8561 165.905 14.8561C165.069 14.8561 164.373 15.3259 163.833 16.2581C163.293 17.1904 163.019 18.2941 163.019 19.5694C163.019 20.6359 163.537 21.1654 164.588 21.1654Z"
              fill="white"></path>
            <path
              d="M171.02 25.4383C170.236 25.4383 169.607 25.2593 169.155 24.8939C168.696 24.5284 168.467 24.0511 168.467 23.4545C168.467 22.5894 169.148 21.7914 170.51 21.0606C170.354 20.9039 170.28 20.7175 170.28 20.4788C170.28 20.2477 170.347 20.0015 170.48 19.7554C170.613 19.5019 170.747 19.308 170.887 19.1663L171.087 18.9351C170.391 18.6219 170.043 18.0476 170.043 17.2198C170.043 16.392 170.317 15.6536 170.865 15.0123C171.413 14.3634 172.146 14.0428 173.063 14.0428C173.53 14.0428 173.929 14.1024 174.255 14.2292L174.425 14.2889L176.661 14.1994L176.476 15.0048H175.01C175.203 15.3031 175.299 15.6686 175.299 16.116C175.299 16.8767 175.018 17.5778 174.462 18.2191C173.9 18.8605 173.115 19.1812 172.109 19.1812L171.657 19.1514C171.302 19.5988 171.131 19.9419 171.131 20.1805C171.131 20.4192 171.228 20.5758 171.413 20.6504C171.598 20.725 172.042 20.807 172.745 20.8965C173.448 20.986 173.974 21.1575 174.314 21.4185C174.662 21.687 174.84 22.0972 174.84 22.6565C174.84 23.4098 174.492 24.0586 173.796 24.6105C173.093 25.1624 172.168 25.4383 171.02 25.4383ZM169.836 22.2463C169.503 22.567 169.34 22.925 169.34 23.3054C169.34 23.6857 169.488 24.0064 169.792 24.26C170.095 24.5135 170.584 24.6403 171.25 24.6403C171.923 24.6403 172.538 24.4613 173.093 24.1033C173.656 23.7454 173.937 23.283 173.937 22.7162C173.937 22.3731 173.818 22.127 173.589 21.9779C173.359 21.8287 172.923 21.7168 172.294 21.6497C171.664 21.5751 171.235 21.5006 171.013 21.4036C170.569 21.6423 170.169 21.9257 169.836 22.2463ZM172.227 18.4056C172.93 18.4056 173.478 18.1669 173.863 17.6822C174.248 17.1974 174.44 16.7201 174.44 16.2428C174.44 15.7655 174.329 15.415 174.107 15.1838C173.885 14.9526 173.493 14.8407 172.923 14.8407C172.353 14.8407 171.879 15.0794 171.494 15.5641C171.109 16.0489 170.917 16.556 170.917 17.1005C170.917 17.973 171.354 18.4056 172.227 18.4056Z"
              fill="white"></path>
            <path
              d="M176.209 21.8212L177.964 14.1993H178.874L177.12 21.8212H176.209ZM178.356 12.4318L178.645 11.2162H179.555L179.281 12.4318H178.356Z"
              fill="white"></path>
            <path
              d="M180.488 19.6733C180.488 20.1283 180.628 20.4937 180.902 20.7547C181.184 21.0158 181.517 21.15 181.924 21.15C182.701 21.15 183.441 21.0605 184.144 20.8741L184.507 20.7696L184.448 21.5154C183.567 21.8212 182.731 21.9704 181.939 21.9704C180.355 21.9704 179.562 21.2171 179.562 19.7106C179.562 18.3309 179.888 17.0631 180.547 15.9146C180.858 15.3553 181.28 14.9078 181.82 14.5647C182.353 14.2291 182.96 14.0576 183.634 14.0576C185.055 14.0576 185.766 14.6393 185.766 15.7953C185.766 16.6902 185.425 17.3167 184.737 17.6747C184.048 18.0326 182.975 18.2191 181.517 18.2191H180.665C180.547 18.7337 180.488 19.2184 180.488 19.6733ZM181.702 17.4808C182.812 17.4808 183.619 17.3614 184.115 17.1228C184.611 16.8841 184.862 16.4441 184.862 15.8027C184.862 15.1614 184.441 14.8407 183.589 14.8407C182.272 14.8407 181.339 15.7207 180.806 17.4808H181.702Z"
              fill="white"></path>
            <path
              d="M192.198 15.0719C191.258 14.9302 190.488 14.8556 189.881 14.8556C189.274 14.8556 188.8 15.0197 188.445 15.3404C188.09 15.6685 187.92 16.0563 187.92 16.5112C187.92 16.7872 188.016 16.9885 188.216 17.1228C188.416 17.257 188.852 17.3987 189.533 17.5628C190.214 17.7269 190.71 17.9133 191.014 18.1296C191.325 18.3459 191.473 18.7113 191.473 19.2259C191.473 20.1134 191.169 20.792 190.562 21.2619C189.955 21.7317 189.171 21.9704 188.223 21.9704C187.527 21.9704 186.854 21.8883 186.21 21.7242L185.877 21.6497L186.047 20.9188C186.972 21.0829 187.749 21.1649 188.379 21.1649C189 21.1649 189.526 21.0158 189.933 20.7249C190.348 20.4266 190.555 19.994 190.555 19.4123C190.555 19.0916 190.451 18.8604 190.236 18.7337C190.022 18.6069 189.585 18.4652 188.919 18.3086C188.253 18.152 187.772 17.9655 187.468 17.7418C187.165 17.5255 187.017 17.1824 187.017 16.7126C187.017 15.937 187.29 15.3031 187.838 14.8034C188.386 14.3037 189.089 14.0576 189.948 14.0576C190.614 14.0576 191.31 14.1247 192.035 14.259L192.398 14.3336L192.198 15.0719Z"
              fill="white"></path>
            <path
              d="M195.87 15.2139C195.411 14.7292 195.189 14.1326 195.189 13.4315C195.189 12.723 195.418 12.1264 195.87 11.6417C196.328 11.1569 196.898 10.9182 197.594 10.9182C198.29 10.9182 198.86 11.1569 199.319 11.6491C199.778 12.1339 200 12.7305 200 13.439C200 14.1475 199.778 14.7366 199.319 15.2214C198.867 15.7062 198.29 15.9448 197.594 15.9448C196.898 15.9448 196.321 15.6987 195.87 15.2139ZM196.136 11.9027C195.751 12.3203 195.551 12.8274 195.551 13.4241C195.551 14.0207 195.744 14.5278 196.136 14.9455C196.521 15.3631 197.01 15.5719 197.594 15.5719C198.179 15.5719 198.66 15.3631 199.053 14.9455C199.445 14.5278 199.637 14.0207 199.637 13.4241C199.637 12.8274 199.437 12.3129 199.045 11.8952C198.653 11.4776 198.164 11.2688 197.587 11.2688C197.009 11.2688 196.521 11.485 196.136 11.9027ZM197.047 13.797V14.8336H196.602V12.0444H197.55C197.905 12.0444 198.172 12.1115 198.342 12.2383C198.512 12.3651 198.601 12.5962 198.601 12.9095C198.601 13.3495 198.431 13.6329 198.105 13.7448L198.653 14.8336H198.172L197.676 13.797H197.047ZM197.039 12.4247V13.4166H197.661C197.846 13.4166 197.979 13.3793 198.053 13.3047C198.127 13.2302 198.172 13.1034 198.172 12.9169C198.172 12.7305 198.12 12.6037 198.016 12.5291C197.913 12.4546 197.757 12.4173 197.542 12.4173H197.039V12.4247Z"
              fill="white"></path>
          </svg>
        </a>
        <p class="sales-and-support">
          <UIString key="footer.contactInformation" />
          <a href="tel:18333329466" class="phone-number">
            <UIString key="footer.phone" />
          </a>
        </p>
      </div>
      <div class="footer-links-grid">
        {
          data.map((group) => {
            return (
              <ul>
                <li class="column-title">{group.title}</li>
                {group.links.map((item) => (
                  <li>
                    <a
                      href={item.route}
                      aria-label={`Azion ${item.text}`}
                      target={item.type === 'external' ? '_blank' : '_self'}
                      class="footer-link"
                    >
                      {item.text}
                    </a>
                  </li>
                ))}
              </ul>
            );
          })
        }
      </div>
    </div>
		<hr class="hr-line"/>
    <div class="lang-wrapper">
      {
        translatedPages && translatedPages.length > 1 && (
          <p class="lang-selector">
            <UIString key="footer.langSelector" />
            <span class="select-lang">
              {translatedPages.map(({ lang, slug }, i) => (
                <a href={`/${lang}/${slug}/`} class="language-link">
                  {lang.toUpperCase().replace('-BR', '')}
                  {i < translatedPages.length - 1 && <span> | </span>}
                </a>
              ))}
            </span>
          </p>
        )
      }
      <p class="copyright">
        <UIString key="footer.copyright" />
      </p>
    </div>
  </div>
</footer>

<style lang="scss">
  .content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
		color: var(--color-gray-10);
		font-size: clamp(1rem,1.563vw,1.25rem);
  }

  .menu-wrapper {
    display: grid;
    grid-template-columns: calc(20% - 1rem) calc(70% - 1rem);
    gap: 5%;

    @media (min-width: 90em) {
      gap: 15%;
    }

    @media (max-width: 79.99em) {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  .lang-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
		justify-content: space-between;

    @media (min-width: 50.01em) {
      align-items: center;
      flex-direction: row;
    }

		.lang-selector {
      font-size: 1rem;
      margin: 2rem 0;
			color: var(--color-gray-60);

      @media (min-width: 60em) {
        margin: 0;
      }
      .language-link {
        color: var(--color-gray-10);

				span { 
					color: var(--color-gray-60);
				}

				&:hover {
					color: var(--color-orange);
					span {
						color: var(--color-gray-60);
					}
				}
      }
    }
  }

  footer {
    overflow: hidden;
    background-color: var(--theme-bg-variant);
    padding: 3.5rem 0 1.5rem;
    width: 100%;

    .sales-and-support {
      font-size: 1rem;
      line-height: 150%;
      margin: 1rem 0 0;
			color: var(--color-gray-10);
      .phone-number {
        display: inline-block;
      }
    }
    .footer-links-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem 1rem;
      grid-template-areas:
        'contact contact'
        'resources pricing'
        'company company';
      margin-top: 3rem;
			line-height: 180%;

      @media (min-width: 40em) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
          'resources company pricing'
          'contact contact .';
      }

      @media (min-width: 60em) {
        gap: 2rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 'resources company pricing contact contact';
      }

      @media (min-width: 80em) {
        margin-top: 0rem;
        gap: 1rem;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          &:before {
            display: none;
          }

          &.column-title {
            color: var(--theme-gray-10);
						font-size: 1rem;
						font-weight: 700;
						margin-bottom: 1rem;
						line-height: 180%;
          }
          .footer-link {
            color: var(--color-gray-30);
            font-size: 0.875rem;
            display: inline-block;
            margin-bottom: 0.5rem;
            &:hover {
              color: var(--color-orange-variant);
            }

            @media (min-width: 40em) {
              font-size: 1rem;
            }
          }
          .flag-primary {
            color: var(--theme-text-lighter);
            margin-right: 0.5rem;
            font-size: 12px;
          }
        }
        &:nth-of-type(1) {
          grid-area: resources;
        }
        &:nth-of-type(2) {
          grid-area: company;
        }
        &:nth-of-type(3) {
          grid-area: pricing;
        }
        &:nth-of-type(4) {
          grid-area: contact;
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 1rem;
          grid-auto-rows: min-content;
          li:first-of-type {
            grid-column: span 2;
          }

          @media (min-width: 60em) {
            column-gap: 2rem;
            grid-column: span 2;
          }

          @media (min-width: 80em) {
            column-gap: 1rem;
          }
        }
      }
    }
    .hr-line {
      display: none;
      border: none;
      border-bottom: solid 1px #646464;
      margin-top: 2rem !important;
			height: 0;
      margin-bottom: 2rem;
      max-width: 100%;
      width: 100%;

      @media (min-width: 60em) {
        display: block;
      }
    }
    .copyright {
      font-size: 12px;
      line-height: 1.5;
      margin: 0 0 1rem;
			color: var(--color-gray-60);

      @media (min-width: 60em) {
        text-align: right;
        line-height: 1;
        margin: 0;
      }
    }
  }
</style>
