---
import type { CollectionEntry } from 'astro:content';
import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header/Header.astro';
import HeadSEO from '../components/HeadSEO.astro';
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';
import { normalizeLangTag } from '../i18n/bcp-normalize';
import { rtlLanguages } from '../i18n/languages';
import { useTranslations } from '../i18n/util';
import { getLanguageFromURL } from '../util';
import { getPageCategory } from '../util/getPageCategory';
import Footer from '~/components/Footer/Footer.astro';

export interface Props {
	content: CollectionEntry<'docs'>['data'];
}

const { content } = Astro.props;
const isFallback = !!Astro.params.fallback;
const url = Astro.url;
const lang = getLanguageFromURL(url.pathname);
const direction = rtlLanguages.has(lang) ? 'rtl' : 'ltr';
const bcpLang = normalizeLangTag(lang);
const currentPage = url.pathname;
const t = useTranslations(Astro);
const formatTitle = (content: { title?: string }) =>
	content.title ? `${content.title} - ${t('site.title')}` : t('site.title');
// Ensures the canonicalURL always has a trailing slash.
const canonicalURL = new URL(Astro.url.pathname.replace(/([^/])$/, '$1/'), Astro.site);
if (isFallback) canonicalURL.pathname = canonicalURL.pathname.replace(`/${lang}/`, '/en/');
---

<html dir={direction} lang={bcpLang} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO content={content} canonicalURL={canonicalURL} />
		<title set:html={formatTitle(content)} />
		<style>
			#left-sidebar {
				display: none;
				z-index: 10;
				inset-inline-start: 0;
				max-height: 100%
			}
			#right-sidebar {
				display: none;
				inset-inline-end: 0;
			}
			#main-content {
				display: flex;
				flex-direction: column;
				height: 100%;
				min-width: 0;
			}

			.layout {
				display: grid;
				grid-template-columns: 1fr;
				height: 100%;
			}
			@media not screen and (min-width: 50em) {
				:global(.mobile-sidebar-toggle #left-sidebar) {
					display: block;
					top: 3rem;
					inset-inline-end: 0;
				}

				:global(.mobile-sidebar-toggle) {
					overflow: hidden;
				}
				:global(.mobile-sidebar-toggle .main-column) {
					visibility: hidden;
				}
				:global(.mobile-sidebar-toggle #left-sidebar ul) {
					overscroll-behavior: contain;
				}
			}

			.sidebar {
				position: sticky;
				top: 0;
				max-height: 100vh;
				height: 100%;
				transition: all 0.2s ease-in;
			}

			@media not screen and (min-width: 50em) {
				#left-sidebar {
					position: fixed;
					background: var(--theme-bg);
					height: 100%;
					padding-bottom: var(--theme-navbar-height);
				}
			}

			@media (min-width: 50em) {
				#left-sidebar {
					display: block;
					padding-inline-start: 0.25rem;
					top: var(--theme-navbar-height);
					background: transparent;
				}

				.layout {
					grid-template-columns: 18.75rem 1fr;
					gap: 1rem
				}
			}

			@media (min-width: 72em) {
				#right-sidebar {
					display: flex;
				}

				.layout {
					grid-template-columns: 18.75rem 1fr 18.75rem;
					gap: 1rem
				}
			}
		</style>
	</head>

	<body>
		<Header currentPage={currentPage} />
		<main class="layout">
			<aside id="left-sidebar">
				<div class="sidebar">
					<LeftSidebar currentPage={currentPage} menuType={content.menu_namespace} />
				</div>
			</aside>
			<div id="main-content" class="main-column">
				<slot />
				<span id="docsearch-lvl0" hidden>{getPageCategory(url)}</span>
			</div>
			<aside id="right-sidebar">
				<div class="sidebar">
					<slot name="secondary-sidebar" />
				</div>
			</aside>
		</main>
		<slot name="footer">
			<Footer namespace={content.namespace} />
		</slot>
	</body>
</html>
